.main {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url("assets/images/header/mobile/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-moz-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("assets/images/header/mobile/main_bg_2x.jpg");
  }
}

/* @include mq(mobile) {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url("/assets/images/Header/Header_tablet/main_bg.jpg");

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("/assets/images/Header/Header_tablet/main_bg_2x.jpg");
  }
}

@include mq(desktop) {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url("/assets/images/Header/Header_desktop/main_bg.jpg");

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("/assets/images/Header/Header_desktop/main_bg_2x.jpg");
  } */
/* } */
