@import "stylesheet/_mixin.scss";

.header {
  height: 230px;
  padding-top: 45px;
  background-color: rgba(186, 185, 189, 0.56);
  // background-image: linear-gradient(
  //     to right,
  //     rgba(0, 0, 0, 0.56),
  //     rgba(0, 0, 0, 0.56)
  //   ),
  //   url("/assets/images/Header/Header-mobile/main_bg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top center;

  // @include mq(retina) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(0, 0, 0, 0.56),
  //       rgba(0, 0, 0, 0.56)
  //     ),
  //     url("/assets/images/Header/Header-mobile/main_bg_2x.jpg");
  // }

  // @include mq(mobile) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(0, 0, 0, 0.56),
  //       rgba(0, 0, 0, 0.56)
  //     ),
  //     url("/assets/images/Header/Header_tablet/main_bg.jpg");

  //   @include mq(retina) {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(0, 0, 0, 0.56),
  //         rgba(0, 0, 0, 0.56)
  //       ),
  //       url("/assets/images/Header/Header_tablet/main_bg_2x.jpg");
  //   }
  // }

  // @include mq(desktop) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(0, 0, 0, 0.56),
  //       rgba(0, 0, 0, 0.56)
  //     ),
  //     url("/assets/images/Header/Header_desktop/main_bg.jpg");

  //   @include mq(retina) {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(0, 0, 0, 0.56),
  //         rgba(0, 0, 0, 0.56)
  //       ),
  //       url("/assets/images/Header/Header_desktop/main_bg_2x.jpg");
  //   }
  // }
}
